DJANGO_SECRET_KEY=
DEBUG=True
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_HOST=localhost
DB_PORT=5432

# Jitsi Meet (leave blank to use meet.jit.si without auth)
JITSI_DOMAIN=meet.jit.si
JITSI_APP_ID=
JITSI_APP_SECRET=
